<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form>
        <h:panelGrid id="panel" columns="1" border="0"
                     cellpadding="5" cellspacing="2">
            <h:outputText value="ENTER PROJECT NAME: "/>
            <h:inputText value="#{projectRest.name}"/>
            <h:outputText value="ENTER PROJECT DESCRIPTION: "/>
            <h:inputText value="#{projectRest.description}"/>
            <h:outputText value="ENTER PROJECT DATE BEGIN: "/>
            <h:inputText value="#{projectRest.dateBegin}"/>
            <h:outputText value="ENTER PROJECT DATE END: "/>
            <h:inputText value="#{projectRest.dateEnd}"/>
            <h:commandButton value="Create"
                             action="#{projectRest.create(projectRest.name, projectRest.description, projectRest.dateBegin, projectRest.dateEnd)}"/>
        </h:panelGrid>
    </h:form>
</h:body>
</html>