<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Project Edit</title>
</h:head>
<h:body>
<ui:include src="navbar.xhtml"/>
    <h:form>
        <h:panelGrid id="panel" columns="1" border="0"
                     cellpadding="5" cellspacing="2">
        <h:outputText value="ENTER PROJECT NAME: "/>
        <h:inputText value="#{projectBean.name}"/>
        <h:outputText value="ENTER PROJECT DESCRIPTION: "/>
        <h:inputText value="#{projectBean.description}"/>
        <h:outputText value="SELECT PROJECT STATUS: "/>
        <h:selectOneMenu value="#{projectBean.status}">
            <f:selectItem itemValue="PLANNED" itemLabel="PLANNED"/>
            <f:selectItem itemValue="INPROGRESS" itemLabel="INPROGRESS"/>
            <f:selectItem itemValue="READY" itemLabel="READY"/>
        </h:selectOneMenu>
        <h:outputText value="ENTER PROJECT DATE BEGIN: "/>
        <h:inputText value="#{projectBean.dateBegin}"/>
        <h:outputText value="ENTER PROJECT DATE END: "/>
        <h:inputText value="#{projectBean.dateEnd}"/>
        <h:commandButton type="submit" value="Edit" action="#{projectBean.update(projectBean.projectId, projectBean.name, projectBean.description,
    projectBean.status, projectBean.dateBegin, projectBean.dateEnd)}" style="margin-right:20px;" ajax="false"/>
        </h:panelGrid>
    </h:form>
</h:body>
</html>
