<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Project Edit</title>
</h:head>
<h:body>
<ui:include src="navbar.xhtml"/>
<h:form>
    <p:dataTable var="project" value="#{projectBean.findOne(projectBean.projectId)}">
        <p:column headerText="Project id">
            <h:outputText value="#{project.id}" />
        </p:column>

        <p:column headerText="name">
            <h:outputText value="#{project.name}" />
        </p:column>

        <p:column headerText="description">
            <h:outputText value="#{project.description}" />
        </p:column>

        <p:column headerText="status">
            <h:outputText value="#{project.status}" />
        </p:column>

        <p:column headerText="date begin">
            <h:outputText value="#{project.dateBegin}" />
        </p:column>

        <p:column headerText="date end">
            <h:outputText value="#{project.dateEnd}" />
        </p:column>

        <p:column headerText="tasks">
            <p:commandButton value="tasks" type="submit" action="task?faces-redirect=true" style="margin-right:20px;" ajax="false">
                <f:setPropertyActionListener value="#{project.id}" target="#{projectBean.projectId}"/>
            </p:commandButton>
        </p:column>

        <p:column headerText="edit">
            <h:commandButton id="ajax" value="Edit" action="projectEdit?faces-redirect=true" style="margin-right:20px;" ajax="false" >
                <f:setPropertyActionListener value="#{project.id}" target="#{projectBean.projectId}"/>
            </h:commandButton>
        </p:column>

        <p:column headerText="delete">
            <p:commandButton type="submit" value="Delete" action="#{projectBean.removeOne(project.id)}" style="margin-right:20px;" ajax="false" />
        </p:column>
    </p:dataTable>
</h:form>
</h:body>
</html>
